.body {
  color: red;
}

.timer {
  border: 4px solid;
  background-color: black;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.field {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 30px;
}

.value {
  margin: 30px;
  padding: 30px 15px;
  font-size: 40px;
}
